* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #292929;
}

.container {
  border: 1px solid white;
  background-color: white;
  width: 98%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;

  transition: 0.9;
}


.site_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  padding: 20px;
}


.logo {
  font-size: 1.1rem;
  font-weight: 600;
}

.header_list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.list_link a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  transition: 0.2s;
}

.header_btn,.main_btn {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: 0.2s;
}

.header_btn,.main_btn:hover {
  background-color: #333;
}
.site_main {
  margin-top: 40px;
}


.text_container {
  border: 1px solid white;
  padding: 30px;
  margin-top: 30px;
}
.main_title {
  font-size: 3rem;
}

.main_banne {
  margin-top: 21px;
  width: 90%;
  border-radius: 5px;
  margin: 0 auto;
  height: 70%;
  transition: 0.5;
}

.banner {

  margin-top: 21px;

  width: 100%;
  height: 80%;
margin: 0 auto;
}
.card,.card2 {
  margin: 0 auto;
  margin-left: 80px;
}

.card_container {
  margin: 0 auto;
  display: flex;
   gap: 50px;
}



.Section_heading>Image.png,text {
  display: flex;
}

.card2,.card3 {
  margin-top: 10%;
}


.card_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.service_card_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.service_card {
    width: 400px;
    height: 200px;

    border: 1px solid #aaa;
    border-radius: 20px;

    padding: 20px;
    padding-top: 30px;
    background-color: rgba(255, 255, 255, 0.059);
    backdrop-filter: blur(3px);
}

.card_img
 {
    display: flex;
gap: 10px;
 }




.card3 {
  display: flex;
  gap: 60px;
  margin: 0 auto;
  margin: 10% 0 0 5%;
}





.hero {
  background-color: #cbcbcb64;
  display: flex;
  gap: 35%;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}

.image.png,Image {
margin-left: 1000px;
margin-bottom: 10000px;
}

.main_button {
  gap: 10px;
  border: none;
  padding: 20 10;
  background: white;
}

.text_comtainet {
  display: flex;
    justify-content: space-between;
}


 footer{
        padding: 60px 80px;
        display: flex;
        justify-content: space-between;
        background: #fff;
    }

    .left{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .site-name{
        font-size: 22px;
        font-weight: bold;
    }
    .tab {
      margin-top: 40px;
    }

    .social{
margin-left: 20px;
      display: flex;
        gap: 16px;
        font-size: 20px;
        color: #555;
        cursor: pointer;
    }

    .columns{
margin-left: 1000px;

        display: flex;
        gap: 80px;
    }

    .column{
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: #555;
        cursor: pointer;
    }

    .column .title{
        font-weight: bold;
        color: #000;
        margin-bottom: 5px;
    }



















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































